/**
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content

==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 9999px) {
	
	#languageToggle{
		position:absolute;
		right:0px;
		top:-3px;
		width:170px;
		height: 42px;
		border-left: 1px solid #fff;
		padding: 0 0 0 10px;
	}
	.language {
		float:left;
		padding:2px 5px 2px 5px;
		vertical-align: middle;
		margin: 12px 0 5px 0;
	}
	.language a {
		color: gray;
		text-decoration:none !important;
	}
	#navMenu{
		position: absolute;
		right: 190px;
		top: 15px;	
	}
	#navMenu ul li{
		float: left;
		padding:0 10px 0 5px;
		margin-bottom:0px;
		height: 40px;
	}
	
	#spanish{
		border-left: 1px solid #fff;
	}
	#flagTitle{
		position:absolute;
		top:9px;
		right:10px;
		font-size:16px;
		z-index:500;
		width: 145px;
		padding-left: 20px;
	}
}
#flagTitle:hover{
	color:black;
	text-decoration:none;
}

#languageSpanish>div,
#languageBahasa>div{
	float:left;
}

#basemapContainer{
	position:absolute;
	left:100px;
	top:10px;
	z-index:20;
}

#basemapContentPane{
	width:300px;
	height:200px;		
}

#map{
position:absolute;
left:0;
right:0;
bottom:0;
top:0px;

}

#mapTools {
	position:absolute;
	background-color: #ccc;
	right:10px;
	top:10px;
	width:400px;
	height:300px;
	z-index:20;
}

#mapLegend {
	position:absolute;
	background-color: #ccc;
	right:10px;
	bottom:10px;
	width:300px;
	height:200px;
	z-index:20;
}

#countryFlagContainer{
	text-align:right;
	height:100%;
	line-height: 70px;
	position:relative;
	margin-right: 280px;
	vertical-align: middle;
	margin-top: -7px;
	
}

#countryFlag {
	vertical-align: middle;	
	margin-top: 8px;
	height: 40px;
	float: right;
}

.app label{
	display:inline;
}

#editingDiv{
	width:100%;
	height:100%;
}
#searchMenu{
	postion: absolute;
	z-index:1400;
}
#search{
	
	float:left;
}

#mobileMenu {
	display: none;
}

#gridDiv {
  	height: 240px;
  	font-size: 14px;
}


.editorDialogPane {
	position:absolute;
	top:100px;
	left:300px;
	width:400px;
	height:400px;
	overflow-y:auto;
	font-size: 12px;
}

.legendMoreOptions{
	position:absolute;
	right:3px;
	top:3px;
}

.legendContainer{	
	max-height: 300px;
	position:absolute; 
	right:80px;
	z-Index:999;
	overflow:hidden;
	max-width:300px;
}

#mainTitle{
	display: block;
	text-align: left;
	line-height: 58px;
	vertical-align: middle;
	position:absolute;
	width: 100%;	
	height:58px;
	font-size: 26px;
	font-weight: 600;
	margin: 0px 12px;
	background-color: rgb(255,255,255);
}

.app #mainTitle h4{
	line-height: 60px;
}	

#layersCP p{
	text-align: center;
	margin: 10px 0 0 0;
}
#carpeLink{
	position:absolute;
	bottom: 5px;
	left:30px;
	cursor:pointer;
}
#usaidLink{
	position:absolute;
	bottom: 5px;
	left:150px;
	cursor:pointer;
}

#mobileFlagContainer {
	position: absolute;
	display: none;
	z-index: 5000;
	left: 0;
}

#mobileFlagContainer img {
	height: 42px;
}

#mobileMenu {
	background: rgb(240, 171, 0);
	padding: 20px 20px 0;
	position: absolute;
	display: none;
	z-index: 500;
	width: 100%;
	top: 43px;
}

#mobileToggle {
	position: absolute;
	cursor: pointer;
	display: none;
	height: 32px;
	width: 32px;
	right: 22px;
	top: 5px;
}

#mobileToggle .mobileMenuButton {
  -webkit-box-shadow: 1px 8px 0 2px #69737d, 1px 16px 0 2px #69737d, 1px 24px 0 2px #69737d;
  box-shadow: 0 8px 0 2px #69737d, 0 16px 0 2px #69737d, 0 24px 0 2px #69737d;
  position: absolute;
  content: "";
  width: 20px;
  left: 5px;
}

#stackContainer .esriPopup {
	display: none;
}

/*#mobilePopupUnderlay {
	background-color: #CCC;	
	position: absolute;
	z-index: 9999;
	display: none;
	opacity: 0.75;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}*/

#customPopup {
	background-color: #fff;
	border: 1px solid #b5b5b5;
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	z-index: 10000;
	display: none;
	width: 400px;
	top: 100px;
	bottom: 0;
	left: 0;
}

#customPopupClose {
	background: url('../images/close_x.png') no-repeat center;
	position: absolute;
	cursor: pointer;
	height: 50px;
	width: 50px;
	z-index: 10;
	right: 0;
	top: 0;
}

.customPopupPrevious,
.customPopupNext {
	position: absolute;
	font-size: 35px;
	cursor: pointer;
	z-index: 50;
	color: #FFF;
	top: 10px;
}

.customPopupPrevious {
	background: url('../images/popup.png') no-repeat center;
	background-position: -24px 0;
	height: 15px;
	width: 15px;
	right: 30px;
}

.customPopupNext {
	background: url('../images/popup.png') no-repeat center;
	background-position: -12px 0;
	height: 15px;
	width: 15px;
	right: 5px;
}

#customPopupBody {
	position: absolute;
	background: #CCC; 
	height: 100%;
	width: 100%;
}

#popupTabs {
	position: absolute;
	height: 40px;
	z-index: 5;
	top: 10px;
	right: 0;
	left: 0;
}

#popupTabs:first-child {
	margin-left: 15px;
}

.popup-tab {
	box-sizing: border-box;
	display: inline-block;
	border-bottom: none;
	line-height: 34px;
	padding: 0 15px;
	cursor: pointer;
	font-size: 18px;
	margin: 0 2px;
	height: 40px;
	color: #000;
}

#popupTabContent {
	border-top: 1px solid #000;
	position: absolute;
	overflow-y: auto;
	background: #FFF;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
}
	
.popup-tab.active {	
	border-top: 6px solid #eeab02;
	background-color: #FFF;
}

.draw-uploaded-feature #popupDataTab,
.draw-uploaded-feature #popupData,
.draw-uploaded-feature #analysis-footer .actionList,
.draw-uploaded-feature #analysis-footer #legislative {
	display: none;
}

.draw-uploaded-feature .results-header .title {
	padding-left: 36px;
}

.results-container {
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	left: 0;
}

#analysis-loader,
#results-chart-container {
	background-color: #FFF;
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
}

#analysis-footer {
	position: absolute;
	height: 30px;
	bottom: 0;
	right: 0;
	left: 0;
}

#analysis-loader {
	z-index: 50;
}

.analysis-options-row,
.analysis-options-row-header {
	padding-left: 5px;
	font-size: 13px;
}

.analysis-options-row-header {
	font-weight: bold;
}

.analysis-options-row .active {
	border-bottom: 3px solid red;
}

.analysis-options-row span {
	white-space: nowrap;
	cursor: pointer;
	padding: 0 4px;
}

#analysis-loader .loading-wheel {
	background: url('../images/ajax-loader.gif') center no-repeat;
	background-size: 32px;
	position: absolute;
	margin-left: -16px;
	margin-top: -16px;
	height: 32px;
	width: 32px;
	left: 50%;
	top: 50%;
}

#analysis-chart {
	height: 100%;
	width: 98%; /* Give the labels a little extra padding */
}

.highcharts-title {
	font-size: 12px !important;
	left: 5px !important;
	top: 5px !important;
}

.highcharts-button {
	transform: translate(365px, 0px) !important;
}

.fire-badge {
	border: 3px solid rgb(240, 171, 0);
	position: relative;
	text-align: center;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 auto;
	width: 200px;
	top: 30px;
}

.fire-badge div {
	margin: 5px 0;
}

.fire-count {
	font-size: 24px;
	color: red;
}

.unavailable-badge {
	border: 3px solid rgb(240, 171, 0);
	text-align: center;
	padding: 10px 20px;
	margin: 30px auto;
	font-size: 18px;
	width: 200px;
}

.hidden {
	display: none;
}

.esriPopupWrapper {
	width: auto !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	top: 0 !important;
}

.esriPopupWrapper .sizer,
.esriPopupWrapper .contentPane {
	width: 100% !important;
}

.esriPopupWrapper .actionsPane {
	width: auto !important;
}

.esriPopupWrapper .contentPane {
	position: absolute;
	overflow-y: auto;
	bottom: 30px;
	top: 40px;
}

.clear-all-features {
	text-decoration: underline;
	margin: 10px 20px 5px 0;
	cursor: pointer;
	display: none;
	float: right;
	color: blue;
}

/* Hide some elements earlier to prevent collisions with other elements */
@media only screen and (max-width: 900px) {
	#searchBox {
		display: none;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	#flagTitle,
	#navMenu,
	#uploadFeatures {
		display: none;
	}

	#mobileToggle,
	#mobileFlagContainer,
	.open-layers-button {
		display: block;
	}

	#navView {
		border-bottom: 1px solid #000;
		box-shadow: none !important;
		top: 0 !important;
	}

	#languageToggle {
		width: 180px !important;
		border-left: none;
		right: 60px;
		top: -3px; /* Top is -3 because the content is not vertically centered, this improves it */ 
	}

	#languageToggle a {
		float: right;
	}

	.analysis-controls-container {
		width: 150px !important;
	}

	.basemap-container {
		height: 250px !important;
		width: 150px !important;
	}

	#toolsContainer {
		top: 43px !important;
		width: 0;
	}

	#stackContainer {
		top: 43px !important;
	}

	#customPopup {
		width: auto;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	#headerView {
		height: 0px !important;
	}

	#analysis-loader,
	#results-chart-container {
		bottom: 0;
	}

	#analysis-footer {
		display: none;
	}

	.landsat-layers {
		height: 60px;
	}

	.analysis-options-select {
		width: 220px;
	}

	.tree-cover-dialog {
		border: 2px solid black;
		height: 220px;
		left: 45%;
	}

	.mobile-map-theme-list {
		margin-top: 10px;
	}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 500px) {}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}