.analysis-instructions
.analysis-instructions__draw
  color $grayFont

.analysis-instructions__header
  font-weight normal
  margin 5px 0

.analysis-instructions__olist
  list-style-type decimal
  font-size 13px
  padding 0 15px

.analysis-instructions__separator
  margin 10px 0 5px
  text-align center
  font-size 22px

.analysis-instructions__draw-icon-container
  margin 10px 0

.analysis-instructions__draw-icon
  fill $goldTheme
  display block
  margin auto
  height 100px
  width 135px

.analysis-instructions__draw-button
  text-transform uppercase
  font-weight bold
  margin 15px

.analysis-instructions__upload-container
  background-color $lightGrayHighlight
  border 2px dashed $lightGray
  border-radius 10px
  position relative
  text-align center
  margin 5px 15px
  font-size 20px
  padding 10px
  cursor copy
  &.active
    font-weight bold
  & input
    display none

.analysis-instructions__upload
  pointer-events none
