.layer-basemap
  border-top 1px solid $lightGray
  line-height 50px
  &:first-child
    border 0
  .layer-basemap-icon
    display inline-block
    width 50px
    height 50px
    background url('http://www.globalforestwatch.org/assets/basemaps-s84b6feb159-b5c7519937c9732128e8b42b5865e7c2.png')
    border-radius 25px
    margin 10px 10px 10px 0
    vertical-align middle
  .layer-basemap-label
    display inline-block
    font-size 14px
    vertical-align middle
