$fontFamily = "Arial Narrow", arial, sans-serif
$headerHeight = 50px

//- COLORS
//- Theme colors
$goldTheme = #F0AB00
//- Highlights
$lightGrayHighlight = #EEE
//- Regular colors
$lightGray = #AAA
$darkGray = #555
