$fontFamily = "Fira Sans", Georgia, sans-serif

//- Component Sizes
$tabViewWidth = 300px
$headerHeight = 50px

//- COLORS
//- Theme colors
$goldTheme = #F0AB00
//- Highlights
$lightGrayHighlight = #EEE
//- Regular colors
$lightGray = #AAA
$darkGray = #555
// Sharing Colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
