.documents-panel
  color $grayFont
  padding 5px

.documents-instructions
.documents-unavailable
  text-align center
  padding 10px

.documents-feature-title
  border-bottom 1px solid $lightGray
  font-weight normal
  padding 0
  margin 0
