.app-header__title
  line-height $headerHeight
  font-size 24px

@media (min-width: 1000px)
  .app-header
    border-bottom 2px solid $goldTheme

@media (max-width: 1000px)
  .app-header
    border-top 2px solid $goldTheme
