.infoWindow
  color $darkGray
  height 100%
  
  .layer-name
  .feature-controls
    height 30px
    padding 6px 10px
  
  .layer-name
    border-bottom 1px solid #888
    font-weight bold
  
  .source-row dt
  .source-row dd
    font-size 16px
    text-transform none
  
  .feature-controls
    border-top 1px solid #888

  .attribute-display
    height calc(100% - 68px)
    max-height calc(100% - 68px)
    overflow-y auto
  
  .arrow
    cursor pointer
    float right
  .arrow.right
    margin-left 1em;
  .arrow.disabled
    color $lightGray
    cursor default
