html
body
#root
.root
  font-family $fontFamily
  overflow hidden
  height 100%
  width 100%
  padding 0
  margin 0

.map-container
  position absolute
  top $headerHeight
  bottom 0
  right 0
  left 0

@require 'header'
