html
body
#root
.root
  font-family $fontFamily
  overflow hidden
  height 100%
  width 100%
  padding 0
  margin 0

.app-header
  position absolute
  height $headerHeight
  display flex
  width 100%
  left 0
  top 0

.map-container
  position absolute
  top $headerHeight
  bottom 0
  right 0
  left 0

@media (max-width: 850px)
  .app-header
    top auto
    bottom 0

  .map-container
    bottom $headerHeight
    top 0
