.tab-view
  // height 100%
  // Value to subtract should be top position plus 20px for padding on bottom
  max-height calc(100% - 80px)
  width $tabViewWidth
  overflow-y auto
  background #FFF
  left 20px
  top 60px

.tab-view__content
  overflow-y auto
  display none
  height 100%

.tab-view__content.selected
  display block
